*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
ul,
li,
p{
    font-family: 'Gill Sans', 'Gill Sans MT';    
    font-size: 1.2rem;
    list-style: none;   
}    
p{
    font-size: 1rem;
}
a{
    text-decoration: none; 
    color: white;
}
h1{
    text-align: center;
    margin-top: 100px;
}
img{
   max-width: 100%;
   display: block;

}
.logo{
    color:  rgb(139, 204, 139);;
}

.header {
    background-color: #1d1d20;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    color: white;
}
.menu li a:hover{
    color: rgb(139, 204, 139);
}

/* css flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}
.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}