*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,
ul,
li,
p{
    font-family: 'Gill Sans', 'Gill Sans MT';    
    font-size: 1.2rem;
    list-style: none;   
}   
body{
    margin-bottom: 100px;
} 
p{
    font-size: 1rem;
}
a{
    text-decoration: none; 
    color: white;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
img{
   max-width: 100%;
   display: block;
}
.logo{
    color: pink;
}

.header {
    background-color: #1d1d20;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
    color: white;
}
.menu li a:hover{
    color: pink;
}

/*css grid2*/

.grid{
    display: grid;
    grid-template-columns: 1fr 200px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}
.sidebar > div {
    margin-bottom: 10px;
}


@media (max-width: 600px){
   .grid {
       grid-template-columns: 1fr;
   } 
   .sidebar{
       display: flex;
   }
   .sidebar > div{
       flex: 1 0 200px;
       margin: 0 10px;
   }
}